{{ define "body" -}}
    <div class="row center">
      <div class="col-6 actions">
        <i data-toggle="modal"
          data-target="#add_client"
          class="fa fa-lg fa-plus"></i>
        <i class="fa fa-lg fa-trash main_delete"></i>
      </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h2>Page <span id="init_page">1</span> of <span id="last_page">1</span></h2>
        </div>
        <div class="col-9">
          <div class="row">

            <div class="col-7">
              <div class="row">
                <div class="col-8">
                  <label for="sort_name" class="form-label-small">Sorting by</label>
                  <select id="sort_name" class="form-control">
                      <option value="id">Added</option>
                      <option value="first_name">Firstname</option>
                      <option value="last_name">Lastname</option>
                      <option value="birth_date">Birthday</option>
                      <option value="gender">Gender</option>
                      <option value="email">Email</option>
                      <option value="address">Address</option>
                  </select>
                </div>
                <div class="col-4">
                  <label for="sort_order" class="form-label-small">Sorting order</label>
                  <select id="sort_order" class="form-control">
                      <option value="ASC">Ascending</option>
                      <option value="DESC">Descending</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-5">
              <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text"
                  id = "search_main"
                  class="form-control"
                  placeholder="Find a customer">
              </div>
            </div>

          </div>

        </div>
    </div>
    <div class="row">
      <div class="col-12 table-holder">
        <table class="table">
          <thead>
            <tr>
              <th class="center-cell">
                <label class="customcheck">
                  <input id="main_check" type="checkbox">
                  <span class="checkmark"></span>
                </label>Select
              </th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Birthday</th>
              <th>Gender</th>
              <th>Email</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="center-cell"><label class="customcheck">
                  <input class="checkbox-action"
                    value="1"
                    type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
              <td>John</td>
              <td>Doe</td>
              <td>01.01.2000</td>
              <td>Male</td>
              <td>john@example.com</td>
              <td>Oismae tee 1</td>
              <td class="actions"><i class="fa fa-pencil"></i><i class="fa fa-lg fa-trash"></i></td>
            </tr>
            <tr>
              <td class="center-cell"><label class="customcheck">
                  <input class="checkbox-action"
                    value="1"
                    type="checkbox">
                  <span class="checkmark"></span>
                </label></td>
              <td>John</td>
              <td>Doe</td>
              <td>01.01.2000</td>
              <td>Male</td>
              <td>john@example.com</td>
              <td>Oismae tee 1</td>
              <td class="actions"><i class="fa fa-pencil"></i><i class="fa fa-lg fa-trash"></i></td>
            </tr>
            <tr>
              <td class="center-cell">
                <label class="customcheck">
                  <input class="checkbox-action"
                    value="1"
                    type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>John</td>
              <td>Doe</td>
              <td>01.01.2000</td>
              <td>Male</td>
              <td>john@example.com</td>
              <td>Oismae tee 1</td>
              <td class="actions"><i class="fa fa-pencil"></i><i class="fa fa-lg fa-trash"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12">
        <nav aria-label="...">
          <ul class="pagination pagination-sm">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
          </ul>
        </nav>
      </div>
    </div>


{{- end }}
