/*
Minimal aah framework application template CSS.
Based on your need choose your CSS framework.
*/

html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  text-align: center;
}

.welcome-msg {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
}
.has-search{
  display: flex;
}

  .customcheck,
  .customradio {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25px;
    height: 25px;
    margin-bottom: 0;
  }

  /* Hide the browser's default checkbox */
  .customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .customcheck .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .customcheck:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .customcheck input:checked~.checkmark {
    background-color: #464646;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .customcheck input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Hide the browser's default radio button */
  .customradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
  .customradio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .customradio:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .customradio input:checked~.checkmark {
    background-color: #464646;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .customradio input:checked~.checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .customradio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .top_menu {
    background: black;
    color: white;
    padding: 2% 0;
  }

  .top_menu .row {
    align-items: baseline;
  }

  .has-search .form-control {
    padding-left: 2.375rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  #content {
    margin-top: 5%;
  }

  .center {
    align-items: center;
  }

  .center .actions i {
    margin-right: 5%;
    padding: 10px;
    background: black;
    color: white;
  }

  .actions i {
    padding: 10px;
  }

  .table {
    white-space: nowrap;
  }

  .table-holder {
    overflow-x: auto;
  }

  .table thead th {
    border-bottom: 0px !important;
  }

  .center-cell {
    display: flex;
    padding-left: 0px !important;
  }

  #add_client .modal-body input {
    margin-bottom: 5%;
  }

  #add_client_gender div {
    margin-bottom: 2%;
  }
  .hide{
    display:none;
  }
